<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="homeworkSocialProduct"
                 translate="label"
                 sortOrder="102"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Social</label>
            <tab>homework</tab>
            <resource>Perspective_HomeworkSocialProduct::config</resource>

            <group id="settings"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Social Attribute Settings</label>

                <!-- Module Enable -->
                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>homeworkSocialProduct/settings/enabled</config_path>
                </field>

                <!-- Social discount rate -->
                <field id="social_discount_rate"
                       translate="label"
                       type="text"
                       sortOrder="2"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Social discount rate(%)</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <config_path>homeworkSocialProduct/settings/social_discount_rate</config_path>
                </field>

            </group>
        </section>
    </system>
</config>
