<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">

                <!-- Title on admin panel -->
                <resource id="Perspective_ACLPractice::aclpractice"
                    title="ACL Practice"
                    sortOrder="99">

                    <resource id="Perspective_ACLPractice::some_resource"
                        title="Custom resource"
                        sortOrder="10" />
                    <resource id="Perspective_ACLPractice::aclpractice_configuration"
                        title="Configuration"
                        sortOrder="11" />
                </resource>

                
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Perspective_ACLPractice::aclpractice_config"
                                title="ACL Practice" />
                        </resource>
                    </resource>
                </resource>

            </resource>
        </resources>
    </acl>
</config>