<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <homeworklowstocklabel>
            <settings>
                <enabled>0</enabled> <!-- Disabled by default -->
                <stock_alert_level>20</stock_alert_level> <!-- Default Low Stock Level -->
            </settings>
        </homeworklowstocklabel>
    </default>
</config>
