<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
            id="Perspective_UiExample::uimenu"
            title="Manage Grid"
            module="Perspective_UiExample"
            sortOrder="54"
            resource="Perspective_UiExample::uimenu"
            parent="Perspective_CreateAdminGrid::practice"
            action="uiexample/index/index"/>
            <!-- parent from previous module Perspective_CreateAdminGrid(Practice 1)-->
    </menu>
</config>