<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Perspective_HomeworkAirFreight::config"
            title="AirFreight Config"
            module="Perspective_HomeworkAirFreight"
            sortOrder="58"
            parent="Perspective_HomeworkDatabase::homework"
            action="adminhtml/system_config/edit/section/homeworkAirFreight"
            resource="Perspective_HomeworkAirFreight::config"
        />
    </menu>
</config>