<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="homeworkAirFreight"
                 translate="label"
                 sortOrder="103"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Air Freight</label>
            <tab>homework</tab>
            <resource>Perspective_HomeworkAirFreight::config</resource>

            <group id="settings"
                   translate="label"
                   type="text"
                   sortOrder="1"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General Settings</label>

                <!-- Module Enabled -->
                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>homeworkAirFreight/settings/enabled</config_path>
                </field>

                <!-- Balloon Title -->
                <field id="balloon_title"
                       type="note"
                       sortOrder="2"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label></label>
                    <comment><![CDATA[<strong style="font-size:16px;">Balloon Options</strong>]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <!-- Balloon Weight Limit -->
                <field id="balloon_weight_limit"
                       translate="label"
                       type="text"
                       sortOrder="3"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Weight limit(kg)</label>
                    <config_path>homeworkAirFreight/settings/balloon_weight_limit</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <!-- Balloon Overweight Fee -->
                <field id="balloon_overweight_fee"
                       translate="label"
                       type="text"
                       sortOrder="4"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Overweight fee</label>
                    <config_path>homeworkAirFreight/settings/balloon_overweight_fee</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <!-- CharterPlane Title -->
                <field id="charterPlane_title"
                       type="note"
                       sortOrder="5"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label></label>
                    <comment><![CDATA[<strong style="font-size:16px;">Charter Plane Options</strong>]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <!-- CharterPlane Weight Limit -->
                <field id="charterPlane_weight_limit"
                       translate="label"
                       type="text"
                       sortOrder="6"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Weight limit(kg)</label>
                    <config_path>homeworkAirFreight/settings/charterPlane_weight_limit</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <!-- CharterPlane Overweight Fee -->
                <field id="charterPlane_overweight_fee"
                       translate="label"
                       type="text"
                       sortOrder="7"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Overweight fee</label>
                    <config_path>homeworkAirFreight/settings/charterPlane_overweight_fee</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <!-- High-speed plane Title -->
                <field id="hsPlane_title"
                       type="note"
                       sortOrder="8"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label></label>
                    <comment><![CDATA[<strong style="font-size:16px;">High-speed plane Options</strong>]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <!-- High-speed plane Weight Limit -->
                <field id="hsPlane_weight_limit"
                       translate="label"
                       type="text"
                       sortOrder="9"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Weight limit(kg)</label>
                    <config_path>homeworkAirFreight/settings/hsPlane_weight_limit</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <!-- High-speed plane Overweight Fee -->
                <field id="hsPlane_overweight_fee"
                       translate="label"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Overweight fee</label>
                    <config_path>homeworkAirFreight/settings/hsPlane_overweight_fee</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <!-- Spaceship Title -->
                <field id="spaceship_title"
                       type="note"
                       sortOrder="11"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label></label>
                    <comment><![CDATA[<strong style="font-size:16px;">Spaceship Options</strong>]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <!-- Spaceship Weight Limit -->
                <field id="spaceship_weight_limit"
                       translate="label"
                       type="text"
                       sortOrder="12"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Weight limit(kg)</label>
                    <config_path>homeworkAirFreight/settings/spaceship_weight_limit</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <!-- Spaceship Overweight Fee -->
                <field id="spaceship_overweight_fee"
                       translate="label"
                       type="text"
                       sortOrder="13"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Overweight fee</label>
                    <config_path>homeworkAirFreight/settings/spaceship_overweight_fee</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
