<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="holiday_discounts"
                 translate="label"
                 sortOrder="100"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Holiday Discounts Settings</label>
            <tab>homework</tab>
            <resource>Perspective_HolidayDiscounts::config</resource>

            <group id="settings"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Settings</label>

                <!-- Module Enable -->
                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>holiday_discounts/settings/enabled</config_path>
                </field>

                <!-- Customer Groups -->
                <field id="customer_groups"
                    translate="label"
                    type="multiselect"
                    sortOrder="3"
                    showInDefault="1"
                    showInWebsite="1"
                    showInStore="1">
                    <label>Customer Groups</label>
                    <source_model>Magento\Customer\Model\ResourceModel\Group\Collection</source_model>
                    <config_path>holiday_discounts/settings/customer_groups</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
