<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="homeworklowstocklabel"
                 translate="label"
                 sortOrder="101"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Low Stock Label</label>
            <tab>homework</tab>
            <resource>Perspective_HomeworkLowStockLabel::config</resource>

            <group id="settings"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>LowStockLabel Settings</label>

                <!-- Module Enable -->
                <field id="enabled"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>homeworklowstocklabel/settings/enabled</config_path>
                </field>

                <!-- Stock Alert Level -->
                <field id="stock_alert_level"
                       translate="label"
                       type="text"
                       sortOrder="2"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Stock Alert Level</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <config_path>homeworklowstocklabel/settings/stock_alert_level</config_path>
                </field>

            </group>
        </section>
    </system>
</config>
