<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="Perspective_HomeworkSocialProduct::add_social_label_to_name"
                type="Perspective\HomeworkSocialProduct\Plugin\SocialLabel"
                sortOrder="1"
                disabled="false"/>
    </type>

    <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <plugin name="Perspective_HomeworkSocialProduct::add_social_attribute_to_collection"
                type="Perspective\HomeworkSocialProduct\Plugin\AddSocialAttributeToCollection"
                sortOrder="1" 
                disabled="false"/>
    </type>
</config>